loader.entrypoint = "file:{{ gramine.libos }}"
loader.log_level = "{{ log_level }}"

# Customize
loader.env.LD_LIBRARY_PATH = "/lib:/lib64:/usr/lib:/usr/lib64:"
loader.env.SECRET_PROVISION_CA_CHAIN_PATH = "/ca.crt"

# Fill
loader.env.SECRET_PROVISION_SERVERS = "ip:port"

loader.env.LD_PRELOAD = "libsecret_prov_attest.so"
loader.env.SECRET_PROVISION_CONSTRUCTOR = "1"
loader.env.SECRET_PROVISION_SET_KEY = "default"

libos.entrypoint = "/{{ entrypoint }}"

fs.mounts = [
  { path = "/lib", uri = "file:{{ gramine.runtimedir() }}" },
  { path = "/lib64", uri = "file:/lib64" },
  { path = "/usr/lib64", uri = "file:/usr/lib64" },
   
  { path = "/{{ entrypoint }}", uri = "file:{{ entrypoint }}" },
  { path = "/ca.crt", uri = "file:ssl/ca.crt" },
  { path = "/etc/hosts", uri = "file:ssl/hosts" },

  { path = "/input/plain/", uri = "file:input/plain/" },
  { path = "/input/enc/", uri = "file:input/enc/", type = "encrypted" }, 
  { type = "encrypted", path = "/results/", uri = "file:results/" },
]

sgx.enclave_size = "2G"
sgx.remote_attestation = "dcap"

sgx.trusted_files = [
  "file:{{ gramine.libos }}",
  "file:{{ gramine.runtimedir() }}/",
  "file:{{ entrypoint }}",
  "file:input/plain/",  

  "file:/etc/host.conf",
  "file:/etc/hosts",
  "file:/etc/nsswitch.conf",
  "file:/etc/resolv.conf",
  "file:ssl/ca.crt",
  "file:ssl/hosts",
  
  "file:/lib64/",
  "file:/usr/lib64/",
]